<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container">
        <a  class="navbar-brand">武汉大学足球协会</a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <!--margin start = margin left-->
                <li class="nav-item">
                    <div  class="nav-link">
                        <a href="index.html" class="btn btn-light mt-2">首页</a></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <a href="about.html" class="btn btn-light mt-2">社团介绍</a></div>
                
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <a href="events.html" class="btn btn-light mt-2">赛事开展</a></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <a href="departments.html" class="btn btn-light mt-2">部门介绍</a></div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <a href="contact.html" class="btn btn-light mt-2">联系我们</a></div>
                </li>
                <li class="nav-item dropdown">
                    <div class="nav-link">
                        <a href="#" class="btn btn-light mt-2 dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            赛事查询
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="freshmen2024search.html">2024新生杯</a></li>
                            <li><a class="dropdown-item" href="Super2024.html">2024振兴杯男子超级组</a></li>
                            <li><a class="dropdown-item" href="League2024.html">2024振兴杯男子甲级组</a></li>
                            <li><a class="dropdown-item" href="Women2024.html">2024振兴杯女子组</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link">
                        <a href="register.html" class="btn btn-light mt-2">登录/注册</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 页脚 -->
<footer class="p-5 bg-dark text-white text-center">
    <div class="container">
        <p class="lead">Copyright &copy; 2024 武汉大学足球协会（学生）主页</p>
    </div>
</footer>